.popUp{
    width: 230px;
    height: 330px;
    background-color: black;
    color: white;
    padding: 16px;
    border-radius: 5px;
    position: absolute;
    left: 800px;
    visibility: hidden;
}

.popUp input {
    margin: 10px 0px;
    border-radius: 4px;
    background-color: gray;
    color: white;
}

.Sbtn {
    padding:6px 10px;
}